<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <title>MBTI-Dating</title>
    <!-- Library -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="/css/main/main.css">
</head>
<body>
    <!-- Menu toggle -->
    <input type="checkbox" id="nav-toggle">
    
    <!-- sidebar-menu -->
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-heart"></span><span>MBTI-Dating</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/"><span class="las la-home"></span>
                    <span>Home</span></a>
                </li>
                <li>
                    <a href="/test"><span class="las la-pen"></span>
                    <span>MBTI-Test</span></a>
                </li>
                <li>
                    <a href="/interest" class="active"><span class="lab la-gratipay"></span>
                    <span>Interest</span></a>
                </li>
                <li>
                    <a href="/chat"><span class="las la-comment-alt"></span>
                    <span>Chat</span></a>
                </li>
                <li>
                    <a href="/profile"><span class="las la-user"></span>
                    <span>Profile</span></a>
                </li>

                <li>
                    <a href="/logout"><span class="las la-sign-out-alt"></span>
                    <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>
    
    <!-- main-content -->
    <div class="main-content">
        <!-- header part -->
        <header>
            <!-- Menu toggle -->
            <div class="header-title">
                <h2>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>

                    Menu
                </h2>
            </div>

            <!-- Search -->
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input type="search" placeholder="Search here">
            </div>

            <!-- My Info -->
            <div class="user-wrapper">
                <img src="/rss/img/testProfile.jpg" width="40px" height="40px" alt="">
                <div>
                    <h4>John Doe</h4>
                    <small>Super admin</small>
                </div>
            </div>
        </header>

        <!-- main part -->
        <main>
            <div class="dashboard cards">
                
            </div>

            <div class="recent-grid">
            </div>
        </main>
    </div>
    <script src="/js/main/main.js"></script>
    <script src="/js/mbti-test/share.js"></script>
</body>
</html>