<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="shortcut icon" href="/rss/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/rss/img/favicon.ico">

    <title>MBTI-Dating</title>
    <!-- Library -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Bulma -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.js"></script>
    <!-- Style -->
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/main/interest.css">
</head>

<body>
    <!-- Menu toggle -->
    <input type="checkbox" id="nav-toggle">

    <!-- sidebar-menu -->
    <div class="sidebar">
        <div class="sidebar-brand">
            <h2><span class="las la-heart"></span><span>MBTI-Dating</span></h2>
        </div>
        <div class="sidebar-menu">
            <ul>
                <li>
                    <a href="/"><span class="las la-home"></span>
                        <span>Home</span></a>
                </li>
                <li>
                    <a href="/test"><span class="las la-pen"></span>
                        <span>MBTI-Test</span></a>
                </li>
                <li>
                    <a href="/interest" class="active"><span class="lab la-gratipay"></span>
                        <span>Interest</span></a>
                </li>
                <li>
                    <a href="/chat"><span class="las la-comment-alt"></span>
                        <span>Chat</span></a>
                </li>
                <li>
                    <a href="/profile/<%=username%>"><span class="las la-user"></span>
                        <span>Profile</span></a>
                </li>

                <li>
                    <a href="/logout"><span class="las la-sign-out-alt"></span>
                        <span>Logout</span></a>
                </li>
            </ul>
        </div>
    </div>

    <!-- main-content -->
    <div class="main-content">
        <!-- header part -->
        <header>
            <!-- Menu toggle -->
            <div class="header-title">
                <h2>
                    <label for="nav-toggle">
                        <span class="las la-bars"></span>
                    </label>

                    Menu
                </h2>
            </div>

            <!-- Search -->
            <div class="search-wrapper">
                <span class="las la-search"></span>
                <input id="search" type="search" placeholder="Search here"
                    onkeypress="javascript:if(event.keyCode==13){searchProfile();}">
            </div>

            <!-- My Info -->
            <div class="user-wrapper" onclick="moveProfile('<%=username%>')">
                <img id="myimage" src="" width="40px" height="40px" alt="">
                <div>
                    <h4 id="userId">
                        <%=username%>
                    </h4>
                    <small id="userName">Super admin</small>
                </div>
            </div>
        </header>

        <!-- main part -->
        <main>
            <div class="nav">
                <div class="nav-see active">
                    알림
                </div>
                <div class="nav-search">
                    공지
                </div>
            </div>
            <div id="see-area">
                <div class="container">
                    <div class="card-box" id="message-box">

                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p> 
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time style="float:right;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p> 
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time style="float:right;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p> 
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time style="float:right;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div id="search-area">
                <div class="container">
                    <div class="card-box" id="notice-box">
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">제목</p> 
                                        <p class="subtitle is-6">@작성자</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time style="float:right;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p> 
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time style="float:right;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="media">
                                    <div class="media-content">
                                        <p class="title is-4">John Smith</p> 
                                        <p class="subtitle is-6">@johnsmith</p>
                                    </div>
                                </div>
                                <div class="content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                                    <a href="#">#css</a> <a href="#">#responsive</a>
                                    <br>
                                    <time style="float:right;" datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="/js/main/main.js"></script>
    <script src="/js/main/interest.js"></script>
    <script src="/js/useful/getUser.js" charset="utf-8" defer></script>
    <script src="/js/mbti-test/share.js"></script>
</body>

</html>