
main{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 50px auto;
}

main div{
  border: 1px solid salmon;
  float: left;
  text-align: center;
  height: 600px;
}

main .search{
  width: 30%;
}

main .chat{
  width: 70%;
}

.card-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card{

}