<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/home/register.css">
    <script src="/js/home/findPassword.js" defer></script>
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        $('#phone').keyup(function (event) {
            event = event || window.event;
            var _val = this.value.trim();
            this.value = autoHypenTel(_val);
        });
    </script>
    <title>비밀번호 찾기</title>
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="/rss/img/couple.jpg">
        </div>
        <div class="register-page">
            <form class="register-form">
                <h2>Find Password</h2>
                <div class="inputBx">
                    <span>ID</span>
                    <input id="id" type="text" placeholder="아이디" />
                </div>
                <div class="inputBx">
                    <span>Phone</span>
                    <input id="phone" type="text" placeholder="휴대폰 번호" />
                </div>

                <div class="inputBx">
                    <input id="pw" type="password" placeholder="새 비밀번호" hidden/>
                    <input id="confirm-pw" type="password" placeholder="비밀번호 확인" hidden/>
                </div>

                <div class="inputBx">
                    <p id="findPBtn">find</p>
                </div>

                <p class="message">Do you remember your Account? <a href="/login">Login</a></p>
            </form>

        </div>
    </section>
</body>

</html>