<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/home/register.css">    
    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <title>register</title>
</head>

<body>
    <section>
        <div class="imgBx">
            <img src="/rss/img/couple.jpg">
        </div>
        <div class="register-page">
            <form class="register-form">
                <h2>Create</h2>
                <div class="inputBx">
                    <span>ID</span>
                    <input id="id" type="text" placeholder="아이디" />
                </div>
                <div class="inputBx">
                    <span>Name</span>
                    <input id="name" type="text" placeholder="이름" />
                </div>
                <div class="inputBx">
                    <span>Password</span>
                    <input id="pw" type="password" placeholder="비밀번호" />
                    <input id="confirm-pw" type="password" placeholder="비밀번호 확인" />
                </div>
                <div class="inputBx">
                    <span>Phone</span>
                    <input id="phone" type="text" placeholder="010-1234-1234" />
                </div>

                <div class="Location">
                    <div class="inputBx">
                        <span>Location</span>
                        <select name="addr" class="inputBx" id="addr">
                            <option selected></option>
                            <option value="seoul">서울 </option>
                            <option value="gyeonggi">경기 </option>
                            <option value="incheon">인천</option>
                            <option value="Gangwon">강원 </option>
                            <option value="chungnam">충남 </option>
                            <option value="daejeon">대전 </option>
                            <option value="chungbug">충북 </option>
                            <option value="busan">부산 </option>
                            <option value="ulsan">울산 </option>
                            <option value="daegu">대구 </option>
                            <option value="gyeongbug">경북 </option>
                            <option value="gyeongnam">경남 </option>
                            <option value="jeonju">전남 </option>
                            <option value="gwangju">광주 </option>
                            <option value="jeonbug">전북 </option>
                            <option value="jeju">제주 </option>
                        </select>
                    </div>
                </div>

                <div class="inputBx">
                    <span>Age</span>
                        <select id="age">
                            <option selected></option>
                        </select>
                </div>

                <div class="inputBx">
                    <span>Gender</span>
                    <select name="gender" class="inputBx" id="gender">
                        <option></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                </div>

                <div class="inputBx">
                    <p id="registerBtn">SIGN UP</p>
                </div>

                <p class="message">Already registered? <a href="/login">Login</a></p>
            </form>

        </div>
    </section>
    <script src="/js/login-service/register.js" defer></script>
</body>

</html>