<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    
    <title>이상형 선택</title>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/test/select.css">
</head>

<body>
    <div class="mytitle">
        <h1>당신의 이상형은?</h1>
    </div>


    <div class="slider owl-carousel" id="card-box">
        <div class="card">
            <div class="img"><img src="/rss/img/0/1.png" alt="0"></div>
            <div class="content">
                <div class="title">INTJ [호랑이]</div>
                <!-- <div class="sub-title">연애 뭐 식은 죽 먹기죠</div> -->
                <p>의지가 강하고, 독립적이다. 분석력이 뛰어나다</p>
                <div class="btn">
                    <button onclick="select(0)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/1/1.png" alt="1"></div>
            <div class="content">
                <div class="title">INTP [부엉이]</div>
                <!-- <div class="sub-title">난 너만 봐</div> -->
                <p>지적 호기심이 높으며, 잠재력과 가능성을 중요시한다.</p>
                <div class="btn">
                    <button onclick="select(1)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/2/1.png" alt="2"></div>
            <div class="content">
                <div class="title">ENTJ [사자]</div>
                <!-- <div class="sub-title">야 사귀자</div> -->
                <p>철저한 준비를 하며, 활동적이다. 통솔력이 있으며, 단호하다.</p>
                <div class="btn">
                    <button onclick="select(2)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/3/1.png" alt="3"></div>
            <div class="content">
                <div class="title">ENTP [여우]</div>
                <!-- <div class="sub-title">이건 어때? 난 어때?</div> -->
                <p>박학다식하고, 독창적이다. 끊임없이 새로운 시도를 한다.</p>
                <div class="btn">
                    <button onclick="select(3)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/4/1.png" alt="4"></div>
            <div class="content">
                <div class="title">INFJ [판다]</div>
                <!-- <div class="sub-title">결혼은 언제쯤 할까 신혼여행은 어디로?</div> -->
                <p>높은 통찰력으로 사람들에게 영감을 준다. 공통체의 이익을 중요시한다.</p>
                <div class="btn">
                    <button onclick="select(4)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/5/1.png" alt="5"></div>
            <div class="content">
                <div class="title">INFP [토끼]</div>
                <!-- <div class="sub-title">기념일에 무슨 이벤트 할까</div> -->
                <p>성실하고 이해심 많으며, 개방적이다. 잘 표현하지 않으나, 내적 신념이 강하다.</p>
                <div class="btn">
                    <button onclick="select(5)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/6/1.png" alt="6"></div>
            <div class="content">
                <div class="title">ENFJ [꼬끼리]</div>
                <p>사교적이고, 타인의 의견을 존중한다. 비판을 받으면 예민하게 반응한다.</p>
                <div class="btn">
                    <button onclick="select(6)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/7/1.png" alt="7"></div>
            <div class="content">
                <div class="title">ENFP [원숭이]</div>
                <!-- <div class="sub-title">난 너랑 하는 것들 다 좋아</div> -->
                <p>상상력이 풍부하고, 순발력이 뛰어나다. 일상적인 활동에 지루함을 느낀다.</p>
                <div class="btn">
                    <button onclick="select(7)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/8/1.png" alt="8"></div>
            <div class="content">
                <div class="title">ISTJ [꼬뿔소]</div>
                <!-- <div class="sub-title">난 당신의 연예인</div> -->
                <p>책임감이 강하며, 현실적이다. 매사에 철저하고 보수적이다.</p>
                <div class="btn">
                    <button onclick="select(8)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/9/1.png" alt="9"></div>
            <div class="content">
                <div class="title">ISFJ [사슴]</div>
                <!-- <div class="sub-title">이건 이거고 저건 저거지</div> -->
                <p>차분하고 헌신적이며, 인내심이 강하다. 타인의 감정변화에 주의를 기울인다.</p>
                <div class="btn">
                    <button onclick="select(9)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/10/1.png" alt="10"></div>
            <div class="content">
                <div class="title">ESTJ [하마]</div>
                <!-- <div class="sub-title">난 네가 좋아 너무 좋아</div> -->
                <p>체계적으로 일하고, 규칙을 준수한다. 사실적 목표 설정에 능하다.</p>
                <div class="btn">
                    <button onclick="select(10)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/11/1.png" alt="11"></div>
            <div class="content">
                <div class="title">ESFJ [말]</div>
                <!-- <div class="sub-title">산은 산이요 연애는 연애로다</div> -->
                <p>사람에 대한 관심이 많다. 친절하다. 동정심이 많다.</p>
                <div class="btn">
                    <button onclick="select(11)">Select Me</button>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="img"><img src="/rss/img/12/1.png" alt="12"></div>
            <div class="content">
                <div class="title">ISTP [곰]</div>
                <!-- <div class="sub-title">산은 산이요 연애는 연애로다</div> -->
                <p>과묵하고 분석적이며, 적응력이 강하다.</p>
                <div class="btn">
                    <button onclick="select(12)">Select Me</button>
                </div>
            </div>1
        </div>

        <div class="card">
            <div class="img"><img src="/rss/img/13/1.png" alt="13"></div>
            <div class="content">
                <div class="title">ISFP [고양이]</div>
                <!-- <div class="sub-title">산은 산이요 연애는 연애로다</div> -->
                <p>온화하고 겸손하다. 삶의 여유를 만끽한다.</p>
                <div class="btn">
                    <button onclick="select(13)">Select Me</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/rss/img/14/1.png" alt="14"></div>
            <div class="content">
                <div class="title">ESTP [공작새]</div>
                <!-- <div class="sub-title">산은 산이요 연애는 연애로다</div> -->
                <p>느긋하고, 관용적이며, 타협을 잘한다. 현실적 문제 해결에 능숙하다.</p>
                <div class="btn">
                    <button onclick="select(14)">Select Me</button>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="img"><img src="/rss/img/15/1.png" alt="15"></div>
            <div class="content">
                <div class="title">ESFP [돌고래]</div>
                <!-- <div class="sub-title">산은 산이요 연애는 연애로다</div> -->
                <p>호기심이 많으며, 개방적이다. 구체적인 사실을 중시한다.</p>
                <div class="btn">
                    <button onclick="select(15)">Select Me</button>
                </div>
            </div>
        </div>
    </div>
    <!-- JS -->
    <script src="/js/mbti-test/result.js" charset="utf-8" defer></script>
    <script src="/js/useful/query.js" charset="utf-8" defer></script>
    <script src="/js/useful/getUser.js" charset="utf-8" defer></script>
    <script src="/js/mbti-test/select.js" charset="utf-8" defer></script>
    <script>
      $(".slider").owlCarousel({
        loop: true,
        autoplay: true,
        autoplayTimeout: 2000, //2000ms = 2s;
        autoplayHoverPause: true,
      });
    </script>
</body>
</html>